body{
background: #fcf6a8a8;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
height: 500px;
width:  500px;
}
header { 
    text-align: center;
color: indigo;
font-style: lucida;
}
.article{
font-style:oblique; 
}
.subtitle{
    font-style: italic;
    color: indigo;
}
.box{
    width: 70px;
    height: 70px;
    background-color: salmon;
    margin: 5px;
    float: right;
}
    